:javascript
  fieldsSubmit = {};
  function addToFieldsSubmit(field_id, field_value){
      fieldsSubmit[field_id] = field_value;
      console.log(""+JSON.stringify(fieldsSubmit));
  }

  function saveChanges(url){
    post(url,fieldsSubmit);
  }

  function post(path, parameters) {
      var form = $('<form></form>');

      form.attr("method", "post");
      form.attr("action", path);

      $.each(parameters, function(key, value) {
          var field = $('<input></input>');

          field.attr("type", "hidden");
          field.attr("name", key);
          field.attr("value", value);

          form.append(field);
      });

      // The form needs to be a part of the document in
      // order for us to be able to submit it.
      $(document.body).append(form);
      form.submit();
  }
#flash_error.alert.alert-error{:style => "display: none;"}
#flash_info.alert.alert-info{:style => "display: none;"}
.well.well-small
  %h3
    = "Edit #{model[:model_name]} #{model[:human_id]}"
  %form.form-horizontal
    %fieldset
      -model[:fields].each do |field_name, field_value|
        .control-group
          %label.control-label{:for => "#{field_name.to_s}"}
            = field_name.to_s
          .controls
            - if field_value[:type] == String
              -if field_name.to_s.downcase =~ /password/
                %input{:type => "password", :id => "#{field_name.to_s}", :value =>"#{field_value[:value]}", :onchange => "addToFieldsSubmit(this.id, this.value);"}
              -elsif field_name.to_s.downcase =~ /email/
                %input{:type => "email", :id => "#{field_name.to_s}", :value =>"#{field_value[:value]}", :onchange => "addToFieldsSubmit(this.id, this.value);"}
              -else
                %input{:type => "text", :id => "#{field_name.to_s}", :value =>"#{field_value[:value]}", :onchange => "addToFieldsSubmit(this.id, this.value);"}
            - elsif field_value[:type] == Boolean
              %input{:type => "checkbox", :id => "#{field_name.to_s}", :checked => "#{field_value[:value]}", :value =>"#{field_name.to_s}", :onchange => "addToFieldsSubmit(this.id, this.checked);"}
            - elsif field_value[:type] == Date || field_value[:type] == Time || field_value[:type] == DateTime
              %input{:type => "date", :id => "#{field_name.to_s}", :value =>"#{field_value[:value]}", :onchange => "addToFieldsSubmit(this.id, this.value);"}
            - elsif field_value[:type] == Integer || field_value[:type] == Float
              %input{:type => "number", :id => "#{field_name.to_s}", :value =>"#{field_value[:value]}", :onchange => "addToFieldsSubmit(this.id, this.value);"}

    - model[:associations].each do |assoc, ass_value|
      -puts "assoc = #{assoc.inspect}, ass_value=#{ass_value}"
      - ass_value.each do |av|
        -av.each do |av_key, av_value|
          %div
            %div{:style => "padding-top: 5px; padding-bottom: 5px;"}
              %strong
                #{av_key}
              %span.badge #{av_value[:count]}
            %select{:id => "#{av_key}_select"}
              -if av_value[:count] == 0
                %option{:value => ""} --none--
              -av_value[:ids].each do |id|
                %option{:value => "#{id[:id]}"} #{id[:human_id]}
            -if av_value[:count] > 0
              %input.btn.btn-info.btn-mini{:type => "button", :value => "Show #{av_value[:class_name]}", :name => "show", :onclick => "console.log('click!');location.href= '/admin/#{av_value[:class_name].downcase}/show/'+$('##{av_key}_select').val();"}
  %button.btn-primary{:type => "submit", :name => "save", :onclick => "saveChanges('/admin/#{model[:model_name].downcase}/update/#{model[:id]}');"}
    %i.icon-ok.icon-white
    Save #{model[:human_id]}

/ delete modal div
.container
  #delete_modal.modal.hide.fade{:tabindex => "-1", :role => "dialog", :"aria-labeledby" => "deleteModal", :"aria-hidden" => "true"}
    .modal-header
      %button.close{:type => "button", :"data-dismiss" => "modal", :"aria-hidden" => "true"} x
      %h3#deleteModal Delete Confirm
      .modal-body
        %p
          #modal_body_confirm
            /this gets replaced with proper info with javascript
            = "Are you sure you want to delete ...?"
      .modal-footer
        %button.btn{:"data-dismiss" => "modal", :"aria-hidden" => "true"} Cancel
        /value will get set with record id when modal is activated
        %button.btn-primary#delete_confirm_button{:type => "submit", :onclick => "delete_model_record(delete_info.record_id, delete_info.url, delete_info.table_index)"} Delete
