%h3 New Account
= "#{identity.username}" unless identity.nil?
- if errors && errors.any?
  %h2
    #{errors.count} errors prohibited this account from being saved:
  - errors.each do |msg|
    %li
      = msg
%form{ :action => "/signup", :method => "post"}
  %fieldset
    %label{:for => :username} Username
    - username_ph = identity.username ||= "" unless identity.nil?
    %input{:type => "text", :name => :username, :class => "input-xlarge", :value => "#{username_ph}"}
    - email_ph = identity.email ||= "" unless identity.nil?
    %label{:for => :email} Email
    %input{:type => "text", :name => :email, :class => "input-xlarge", }
    %label{:for => :password} Password
    %input{:type => "password", :name => :password, :class => "input-xlarge"}
    %label{:for => :password_confirmation} Confirm Password
    %input{:type => "password", :name => :password_confirmation, :class => "input-xlarge"}
  %input{:type => "submit", :value => "Create an account", :class => "btn.btn-success"}
%br
